.hero-section {
    margin: 3rem 0;
}



.hero-section img {
    border-radius: 50%;
    width: 75px;
    aspect-ratio: 1 / 1;
    margin-bottom: .6rem;
}

.hero-section h1 {
    font-size: 1.5rem;
    font-weight: 300;
}

.hero-section p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.hero-section .social-link-list {
    list-style: none;
    padding: 0;
    display: flex;
    column-gap: 1rem;
}

.hero-section .social-link-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-section .social-link-list a {
    color: var(--muted-color);
}

.hero-section .social-link-list a:hover {
    color: var(--primary-color);
}

@media (min-width: 576px) {
    .hero-section {
        display: grid;
        grid-template-columns: auto 1fr auto;
        column-gap: 5%;
        margin: 3rem 0;
        align-items: center;
    }

    .hero-section img {
        margin-bottom: 0;
    }

    .hero-section .social-link-list {
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        row-gap: 10px;
    }

    .hero-section p {
        max-width: 85%;
        margin-bottom: 0;
    }
}